 
body { 
    font-family: Arial, sans-serif; 
} 
 
#header { 
    text-align: center; 
    margin-bottom: 20px; 
} 
 
#header img { 
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
} 
 
#nav ul { 
    list-style-type: none; 
    padding: 0; 
    text-align: center; 
    background-color: #f2f2f2; 
    border: 3px #ccc; 
} 
 
#nav ul li { 
    display: inline; 
    margin-right: 10px; 
} 
 
#nav ul li a { 
    text-decoration: none; 
    padding: 10px; 
    color: #333; 
    border: 1px solid transparent; 
} 
 
#nav ul li a:hover { 
    background-color: #ddd; 
    color: #000; 
    border: 1px solid #333; 
} 
 
.container { 
    display: flex; 
} 
 
.content { 
    flex: 3; 
    padding: 20px; 
} 
 
.news { 
flex: 1; 
padding: 20px; 
margin-left: 20px; 
background-color: #f9f9f9; 
border: 1px solid #ccc; 
} 
#footer { 
text-align: center; 
margin-top: 20px; 
padding: 10px; 
background-color: #f2f2f2; 
border-top: 1px solid #ccc; 
} 